@font-face {
  font-family: Rubik;
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: Rubik;
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: Raleway;
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

body {
  margin: 0;
  padding: 0;
  font-family: Rubik, sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  color: #444444;
  background-color: #ffffff;
}

/* common styles */
.section-title {
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.user-nav-link,
.site-nav-link,
.services-link,
.sub-menu-link,
.slider-link,
.categories-link,
.delivery-link,
.companies-link,
.about-link {
  color: #000000;
  text-decoration: none;
}

.site-nav-link,
.services-link,
.slider-link,
.delivery-link,
.about-link {
  font-family: Raleway,sans-serif;
  font-weight: 800;
  line-height: 21px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

/* Header */

.page-header {
  color: #000000;
  background-color: #FFE17F;
}

.search,
.search::placeholder,
.search-button {
  font-family: Rubik, sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  background-color: #FFE17F;
}

.search::placeholder {
  opacity: 0.3;
}

.sub-menu-link {
  font-size: 16px;
  line-height: 18px;
}

.link-opacity {
  opacity: 0.3;
}

/* Main */

.slider-article-slogan {

}

.slider-params-title {
  font-size: 16px;
}

.slider-params-value {
  font-size: 36px;
  color: #000000;
}

.slider-number {
  font-weight: bold;
  font-size: 180px;
  color: #FFFFFF;
}

.categories-title {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.02em;
}

.services {
  background-color: #F0F0F0;
}

.services .active{
  color: #FFE17F;
}

.services-desc-title {

}

.delivery-link {
  font-size: 20px;
  line-height: 23px;
  background-color:#F0F0F0;
}

.companies-link {
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #000000;
}



